# dependencies
/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment variables
.env
.env.* 

# build output
dist
build

# caches
.vite
vite.config.timestamp-*
.eslintcache

# logs
logs
*.log

# system files
.DS_Store
Thumbs.db
